.toolbar {
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 60px;
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
}

.toolbarLink {
    @extend .toolbar;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
}

.toolbarLink:hover {
    background-color: #EEEEEE;
    color: #000000;
}