.filterButton {
    display: flex;
    justify-content: right;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 1;
}

.sideNavContainer {
    background-color: white;
    height: calc(100vh - 60px); 
    width: 100%; 
}

@media(max-width: 366px) {
    .sideNavContainer {
        height: calc(100vh - 120px); 
    }
}

.sideNavContent {
    width: 25%;
    min-width: 175px;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.formField {
    position: relative;
    display: flex;
    padding-top: 5%;
    margin: 0 auto;
}

.barchartContainer {
    display: inline-grid;
    justify-content: center;
    margin: 2.5%;
    width: 80%;
    max-width: 350px;
    height: auto;
}

.valueContainer {
    display: inline-grid;
    justify-content: center;
    margin: 2.5%;
    width: 80%;
    max-width: 350px;
    height: auto;
}

.valueNumber {
    padding-top: 25%;
    padding-bottom: 30%;
}

.scroll-to-top {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}