<app-toolbar></app-toolbar>

<mat-sidenav-container class="sideNavContainer">

    <mat-sidenav #sidenav mode="over" position="end" class="sideNavContent">

        <mat-form-field class="formField" style="padding-top: 0%;">
            <mat-label>Subject</mat-label>
            <mat-select [(ngModel)]="selectedSubject">
                <mat-option>-</mat-option>
                <mat-option *ngFor="let subject of subjects" [value]="subject.acronym">{{ subject.acronym }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="formField">
            <mat-label>Team</mat-label>
            <mat-select [(ngModel)]="selectedTeam">
                <mat-option>-</mat-option>
                <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.id }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="formField">
            <mat-label>Date: From</mat-label>
            <input matInput [(ngModel)]="startDate" [matDatepicker]="startDatepicker" [max]="maxDate">
            <mat-hint style="font-size: 10px; color: #505050;">DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="formField" style="padding-bottom: 15%;">
            <mat-label>Date: To</mat-label>
            <input matInput [(ngModel)]="endDate" [matDatepicker]="endDatepicker" [max]="maxDate">
            <mat-hint style="font-size: 10px; color: #505050;">DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatepicker></mat-datepicker>
        </mat-form-field>

        <div style="padding-top: 2.5%;">
            <button mat-raised-button color="accent" style="width: 50%;" (click)="sidenav.toggle()" (click)="filterMetrics()">
                Filter
            </button>
        </div>
        <div style="padding-top: 2.5%;">
            <button mat-raised-button color="accent" style="width: 50%;" (click)="sidenav.toggle()" (click)="ngOnInit()">
                Remove filters
            </button>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>

        <div class="filterButton" >
            <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div style="text-align: center; margin: 2em;">

            <div *ngIf="evaluations && evaluations.length == 0" class="valueContainer"> 
                <p style="font-size: 20px;">No data available for filtered time range</p>
            </div>

            <ng-container *ngFor="let category of categories">

                <h3 *ngIf="evaluations && evaluations.length != 0" style="margin-top: 2em;">{{category.id}}</h3>

                <ng-container *ngFor="let evaluation of evaluations">

                    <ng-container *ngIf="category.id == evaluation.category">

                        <div *ngIf="!evaluation.groupable; else barChart" class="valueContainer"> 

                            <div *ngIf="!historical; else lineChart" 
                                id="value-{{evaluation.name}}" class="valueNumber">  
                            </div>
                            <p *ngIf="!historical">{{evaluation.name}}</p>

                            <ng-template #lineChart>
                                <canvas id="chart-{{evaluation.name}}"></canvas>
                                <p>{{evaluation.name}}</p>
                            </ng-template>
                            

                        </div>

                        <ng-template #barChart>
                            <div class="barchartContainer">
                                <canvas id="chart-{{evaluation.name}}"></canvas>
                                <p>{{evaluation.name}}</p>
                            </div>
                        </ng-template> 

                    </ng-container>

                </ng-container>

            </ng-container>

            <div *ngIf="evaluations && evaluations.length != 0" class="scroll-to-top">
                <button mat-raised-button color="accent" (click)="scrollToTop()">
                    Scroll to top
                </button>
            </div>

        </div>
    
    </mat-sidenav-content>

</mat-sidenav-container>
